.header {
    background-color: #f8f9fa;
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    height: 50px;
}

.buttons{
    display: flex;
}

.buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display:inline;
    flex-direction: row;
    width: 200px;
    color: #f8f9fa;
    background-color: black;
    border-radius: none;
    border: none;
    
}

.x{
    color: red;
    font-size: 15px;
}

